.sidebar
  width 422px
  margin-bottom 25px

  &__item
    background white
    margin-bottom 20px
    padding 30px
    border-radius: 4px;

    &-about
      height 220px
      border-radius: 4px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.698313) 100%), url("/static/img/content/canadian-sphynx_5.png")
      color white
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &-star
        display flex
        margin-bottom 11px

        & span
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 20px;

      &-name
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 30px;
        margin-bottom 10px

      &-more
        background: rgba(276, 200, 76, 0.3)
        mix-blend-mode: normal;
        border-radius: 2px;
        padding 4px 14px 5px 13px
        width max-content

    &-parents
      &-box
        display flex

      &-img
        margin-right 18px
        overflow hidden
        border-radius 50px
        size (100px)

      &-name
        display flex
        flex-direction column

        &-a
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 30px;
          margin-bottom 15px

        &-btn
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px;
          border: 1px solid blueBB;
          box-sizing: border-box;
          border-radius: 2px;
          color blueBB
          padding 4px 16px
          display flex
          align-items center
          justify-content center
          flex-direction column
          width max-content

          &-red
            border: 1px solid redBB;
            color redBB

      &-param
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        margin-top 21px

        &-value
          color: greyBBmedium
          width 55px

        &-result
          width max-content

      &-check
        display flex
        align-items end

        &-center
          display flex
          align-items center

        &-span
          font-weight: 800;
          font-size: 12px;
          line-height: 14px;
          text-align: right;


    &-img
      margin auto
      size (320px)
      border-radius 200px
      overflow hidden
      margin-bottom 27px

    &-id
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      margin-bottom 8px

    &-name
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      margin-bottom 18px

    &-date
      margin-bottom 8px
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;

    &-views
      margin-bottom 20px
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;

    &-btn
      mix-blend-mode: normal;
      border: 1px solid rgba(0, 135, 253, 0.6);
      box-sizing: border-box;
      border-radius: 8px;
      width 100%
      display flex
      height 40px
      align-items center
      justify-content center

      & span
        color blueBB
        opacity 1
