ul.breadcrumb
    li.breadcrumb-item
        a.breadcrumb-item__a.breadcrumb-item__a-first(href="#")
            +icon('next', 'prev' )
            span Back
    li.breadcrumb-item
        a.breadcrumb-item__a(href="#") Home
            +icon('next')
    li.breadcrumb-item
        a.breadcrumb-item__a(href="#") Animals
            +icon('next')
    li.breadcrumb-item
        a.breadcrumb-item__a(href="#") Don Sphinx
            +icon('next')
    li.breadcrumb-item.breadcrumb-item__active id 109612



