.container-fluid.menu
    .container.menu-box
        a.menu__item
            +icon('ad', 'menu-header')
            span.menu__item-span Ads
            +icon('play-button', 'play-button-lang')
        a.menu__item
            +icon('people', 'menu-header')
            span.menu__item-span People
        a.menu__item
            +icon('organiz', 'menu-header')
            span.menu__item-span The organization
        a.menu__item
            +icon('news', 'menu-header')
            span.menu__item-span News
        a.menu__item
            +icon('post', 'menu-header')
            span.menu__item-span Articles
        a.menu__item
            +icon('event', 'menu-header')
            span.menu__item-span Events
        a.menu__item
            +icon('information', 'menu-header')
            span.menu__item-span About the breeds

