.sidebar
    .sidebar__item
        .sidebar__item-img
            img(src="static/img/content/06.png")
        .sidebar__item-id ID 109612
        .sidebar__item-name Don Sphinx
        .sidebar__item-date
            +icon('clock')
            span June 6, 2019
        .sidebar__item-views
            +icon('look')
            span 11 views
        a.sidebar__item-btn
            +icon('like', 'like-blue')
            span Add to favorites
    .sidebar__item.sidebar__item-about
        .sidebar__item-about-star
            +icon('star')
            span 4.9
        .sidebar__item-about-name Don Sphinx
        .sidebar__item-about-more Breed Details
    .sidebar__item.sidebar__item-parents
        .sidebar__item-parents-box
            .sidebar__item-parents-img
                img(src="static/img/content/father.png")
            .sidebar__item-parents-name
                a.sidebar__item-parents-name-a Galaxy Sonata <br>Apollo
                a.sidebar__item-parents-name-btn Dad
        .sidebar__item-parents-box
            .sidebar__item-parents-param
                .sidebar__item-parents-box
                    .sidebar__item-parents-param-value Titles
                    .sidebar__item-parents-param-result 6 titles
                .sidebar__item-parents-box
                    .sidebar__item-parents-param-value Height
                    .sidebar__item-parents-param-result 10 in
                .sidebar__item-parents-box
                    .sidebar__item-parents-param-value Weight
                    .sidebar__item-parents-param-result 8 lb
            .sidebar__item-parents-check
                .sidebar__item-parents-check-center
                    .sidebar__item-parents-check-span Pet ownership verified
                    +icon('check')
    .sidebar__item.sidebar__item-parents
        .sidebar__item-parents-box
            .sidebar__item-parents-img
                img(src="static/img/content/mather.png")
            .sidebar__item-parents-name
                a.sidebar__item-parents-name-a Galaxy Sonata <br>Apollo
                a.sidebar__item-parents-name-btn.sidebar__item-parents-name-btn-red Mother
        .sidebar__item-parents-box
            .sidebar__item-parents-param
                .sidebar__item-parents-box
                    .sidebar__item-parents-param-value Titles
                    .sidebar__item-parents-param-result 6 titles
                .sidebar__item-parents-box
                    .sidebar__item-parents-param-value Height
                    .sidebar__item-parents-param-result 9 in
                .sidebar__item-parents-box
                    .sidebar__item-parents-param-value Weight
                    .sidebar__item-parents-param-result 7 lb
            .sidebar__item-parents-check
                .sidebar__item-parents-check-center
                    .sidebar__item-parents-check-span Pet ownership verified
                    +icon('not')

