// Шапка
@import 'header/header.styl'

// Футера
@import 'footer/footer.styl'

// Навигация
@import 'navigation/navigation.styl'

//saidbar
@import "saidbar/sidebar.styl"

//Иконки
@import "icon/icon.styl"
