@font-face
  font-family: 'Fira_sans';
  src: url('../fonts/FiraSans.eot');
  src: url('../fonts/FiraSans.eot?#iefix') format('embedded-opentype'),
          url('../fonts/FiraSans.woff') format('woff'),
          url('../fonts/FiraSans.ttf') format('truetype');
  font-weight normal
  font-style normal
