// ЦВЕТА

greyBB          = #F2F4F6
greyBBdark      = #3B3B46
greyBBmedium    = #7A7C80
greyBBbg        = #F1F2F4
blackBB         = #010103
greenBB         = #28A845
redBB           = #FF5570
blueBB          = #0087FD
yellowBB         = #F7C84C


// ЦВЕТА ТЕКСТ
blackTextDG     = #212121
greyTextDGdark  = #6f6f6f
greyTextDG      = #b8b8b8

// РАЗМЕРЫ
baseFontSize    = rem(14px)

desktopWidth      = 1450px
smalDesktopWidth  = 960px
tableWidth        = 768px
bigPhoneWidth     = 479px
smallPhoneWidth   = 319px

// ШРИФТЫ
FiraSans          = Fira_sans, Arial, sans-serif
