.icon
  cursor pointer

.icon-logo
  size (160px 52px)
  fill blackBB

.icon-play-button
  size (10px 8px)

.play-button-lang
  size (8px 6px)
  margin-left 5px

.post-play-button
  margin-left 10px

.icon-search
  size (16px)
  position absolute
  left 20px
  fill greyBBmedium

.icon-message
  size (24px 18px)

.icon-like
  size (20px 18px)

.like-blue
  size (16px 14px)
  fill blueBB
  margin-right 8px

.icon-shape
  size (14px)
  fill white
  margin-right 12px

.menu-header
  size (35px)
  margin-right 15px
  fill greenBB

.icon-next
  size (6px 11px)
  fill greenBB
  margin 0 10px

.prev
  fill white
  transform rotate(180deg)
  margin-left 0
  margin-right 9px

.icon-clock
  size (10px)
  margin 0 4px 0 1px


.icon-look
  size (13px 7px)
  margin-right 4px

.icon-star
  size (30px)
  fill yellowBB
  margin-right 10px

.icon-check
  size (34px)
  margin-left 10px
  fill greenBB

.icon-not
  size (34px)
  margin-left 10px
  fill redBB

.social
  size (26px)

.icon-vk
  fill #4D76A1

.icon-facebook
  fill #3B5998

.icon-ok
  fill white

.icon-telegram
  fill white

.icon-twitter1
  fill #55ACEE

.icon-viber
  fill white

#ok g path:first-child
  fill #FFC107

#telegram g path:first-child,  #telegram g path:nth-child(2)
  fill #41B4E6

#viber g path:first-child, #viber g path:nth-child(2)
  fill #6F3FAA


#vk g path:last-child, #twitter1 g path:last-child, #facebook g path:last-child
  fill white!important

.extra-icon
  fill greenBB
  size (24px)
  margin-bottom 9px
  margin-top 5px

.check-profile
  fill #0087FD
  position absolute
  right: 10px;
  top: 10px;

.icon-like-prof
  size (29px 26px)
  fill redBB

.star-prof
  size (26px)

.icon-phone
  fill greenBB
  size (40px)
  min-width 40px

#phone path:last-child
  fill white

.icon-pen
  fill white
  size (19px 14px)
  margin-right 9px

.icon-flag
  size (12px 14px)
  position absolute
  top: calc(50% - 7px)
  left 9px

.icon-doc
  fill greenBB
  size (30px 41px)
  margin-right 17px
  min-width 30px

.icon-button
  fill #0087FD
  min-width 34px
  size (34px)
  border: 1px solid #0087fd;
  border-radius: 10px;
  margin-left 20px

#button rect, #button path:last-child
  fill white
